<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit product</title>
        <link rel="stylesheet" href="mystyle.css">
    </head>

    <body>
        <center>
            <div class="option"><a href="/">Home</a></div>
            <Fieldset>
                <legend>Edit product</legend>
            <form action="/update" method="post">
                <input type="hidden" name="txtId" value="{{product._id}}">
                Name <input type="text" name="txtName" value="{{product.name}}">
                <span>{{error.name}}</span>
                <br>
                Price <input type="text" name="txtPrice" value="{{product.price}}">
                <br>
                Brand <input type="text" name="txtBrand" value="{{product.brand}}">
                <br>
                Picture <input type="text" name="txtPicture" value="{{product.picture}}">
                <br>
                <input type="submit" value="Update Product">
            </form>
            </Fieldset>
        </center>
    </body>
</html>
